{% extends "base.html" %}

{% block title %}{{ attraction.name }} - Iran Wander{% endblock %}

{% block main_heading %}{{ attraction.name }}{% endblock %}

{% block content %}

<section class="hero">
     <img decoding="async" loading="lazy" src="{{ url_for('static', filename='img/' + attraction.image) }}" alt="{{ attraction.name }} Header">
</section>

<section class="info">

    <div class="details">
        <h2>Location</h2>
        <p>{{ attraction.location }}</p>

        <h2>Visiting Hours</h2>
        <p>{{ attraction.hours }}</p>

        <h2>Ticket Price</h2>
        <p>{{ attraction.price }}</p>

        <h2>Overview</h2>
        <p>{{ attraction.description }}</p>
    </div>

    <div class="gallery">
        {% for image_name in attraction.gallery_images.split(',') %}
        <img decoding="async" loading="lazy" src="{{ url_for('static', filename='img/' + image_name | trim) }}" alt="{{ attraction.name }} Image">
        {% endfor %}
    </div>

</section>

{% endblock content %}